.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
p {
  max-width: 1000px;
  margin-bottom: 100px;
}
.chatbox {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #ce8f8f;
  padding: 10px;
}
.chatbox input[type="text"] {
  padding: 10px;
  border: 1px solid #050505;
  border-radius: 5px;
  margin-right: 10px;
}
.chatbox button {
  padding: 6px 14px;
  background-color: #838e9b;
  color: #000000;
  border-radius: 4px;
}
